<!doctype html>
<html>
  <head>
    <style>
      body {
        /*background: url("{{ url_for('static', filename='images/1.jpg') }}") no-repeat center center;*/
        background-attachment: fixed;
        background-size: cover;
      }
      th, td {
        text-align: center;
      }
      .alpha{
        FILTER: Alpha(opacity=80);/*表格透明*/
      }
      table {
        margin-top: 10%;
      }
    </style>
  </head>
   <body>
     <center>
        <table border = 1 class='alpha'>
          <tr>
              <th> 訂單編號 </th>
              <th> 訂單內容 </th>
              <th> 合計(¥) </th>
              <th> 合計(NT$) </th>
              <th> 重量(kg) </th>
              <th> 運費(¥) </th>
              <th> 運費(NT$) </th>
              <th> 總金額(¥) </th>
              <th> 總金額(NT$) </th>
              <th> 建立時間 </th>
              <th> 備註 </th>
              <th> 黑貓單號 </th>
              <th> 用戶 </th>
          </tr>
          {% for order in orders %}
              <td> {{ order['訂單編號'] }} </td>
              <td> {{ order['訂單內容'] }} </td>
              <td> {{ order['合計(¥)'] }} </td>
              <td> {{ order['合計(NT$)'] }} </td>
              <td> {{ order['重量(kg)'] }} </td>
              <td> {{ order['運費(¥)'] }} </td>
              <td> {{ order['運費(NT$)'] }} </td>
              <td> {{ order['總金額(¥)'] }} </td>
              <td> {{ order['總金額(NT$)'] }} </td>
              <td> {{ order['建立時間'] }} </td>
              <td> {{ order['備註'] }} </td>
              <td> {{ order['黑貓單號'] }} </td>
              <td> {{ order['用戶'] }} </td>
              </tr>
            {% endfor %}
        </table>
      </center>
   </body>
</html>